# Liphia

liphia_cache/
liphia_modules/



# Rust / Cargo
target/
Cargo.lock

# Compilers and bin
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.pdb

# Build artifacts
dist/
build/
out/

# Makefile 
Makefile
*.mk

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.user
*.swp
*.swo
*~

# Logs
*.log
*.tmp
*.temp

# env var
.env
.env.local

# 
/notas
/examples_me
notes/

# python

.venv/